@code {
    [Inject] GoJsNetWrapper ExampleJsInterop { get; set; }
}
<div class="row">
    <div class="col-md-1">
        <div id="myPaletteDiv" style="width: 80px; height: 500px; border:1px solid black "></div>
    </div>
    <div class="col-md-5">
        <div id="myDiagramDiv" style="width: 600px; height:500px; border:1px solid black"></div>
    </div>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ExampleJsInterop.InitGoJS();
        }
    }
}