@page "/"
@code {

}
<h1>GoJS / Blazor Minimal Sample</h1>
<GoJsWrapper.GoJs></GoJsWrapper.GoJs>
<div class="my-component">
    <button class="btn btn-primary" @onclick="() => AddNewBlocksToPalette()">AddNewBlocksToPalette</button>
    <button class="btn btn-primary" @onclick="() => RemovePaletteBlock()">RemovePaletteBlock</button>
    <button class="btn btn-primary" @onclick="() => AddNewBlock()">AddNewBlock</button>
    <button class="btn btn-primary" @onclick="() => Save()">Save</button>
    <button class="btn btn-primary" @onclick="() => Load()">Load</button>
    <button class="btn btn-primary" @onclick="() => UpdateBlockPorts()">UpdateBlock</button>
    <button class="btn btn-primary" @onclick="() => RemoveBlockPort()">RemoveBlockPort</button>
    <button class="btn btn-primary" @onclick="() => MoveBlock()">MoveBlock</button>
    <button class="btn btn-primary" @onclick="() => RemoveBlockPort()">RemoveBlockPort</button>
    <button class="btn btn-primary" @onclick="() => AddLink()">AddLink</button>
    <button class="btn btn-primary" @onclick="() => RemoveLink()">RemoveLink</button>
    <button class="btn btn-primary" @onclick='() => RemoveBlock()'>RemoveBlock</button>
    <input type="text" @bind="Text2" />


    <input type="text" @bind="NodeId" />

</div>
Model stored in JSON format:
<br />


